jupyter-book>=2.1.6
mystmd>=1.8.2
ghp-import==2.1.0
matplotlib
numpy
jupyter
ipykernel
ipywidgets
httpimport
statsmodels
pandas
datascience
scipy
scikit-learn
seaborn
geopandas
shapely
nptdms
otter-grader
